<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300' rel='stylesheet' type='text/css'/> -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if content.html_title and content.html_title != '' %}{{ content.html_title }}{% else %}{{ content.body.subject }}{% endif %}</title>
  {% if content.meta_description %}<meta name="description" content="{{ content.meta_description }}"/>{% endif %}




        <!--[if gte mso 9]>
        <style type="text/css">
        .mtop20 {margin-top:50px !important}
        .ptop20 {padding-top:20px !important}
        </style>
        <![endif]-->

    <style type="text/css">
        *{
            font-family:'TitilliumWeb', Helvetica, Arial, Verdana, sans-serif;
            font-size:14px;
        }
        a{
            color:#333333;
        }
        body{
            padding:0;
            margin:0;
            text-align:left !important;
            ;
            font-size:14px;
            font-family:'TitilliumWeb', Helvetica, Arial, Verdana, sans-serif !important;
        }
    /*
    @media screen {
    @font-face {
    */
        li,ul{
            /*@media screen {
@font-face {*/padding:0;
        }
        .ExternalClass *{
            line-height:100%;
        }
    /*
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
    */
        img{
            /*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);*/max-width:600px !important;
            outline:none;
            text-decoration:none;
            -ms-interpolation-mode:bicubic;
        }
        a img{
            border:none;
            text-decoration:none;
        }
        p{
            font-family:'TitilliumWeb', Helvetica, Arial, Verdana, sans-serif;
            text-align:left !important;
        }
        span{
            font-family:'TitilliumWeb', Helvetica, Arial, Verdana, sans-serif;
        }
        ul{
            list-style:inside;
        }
        .nav td{
            max-height:50px !important;
        }
        .footer a{
            padding:0;
            color:#008274;
            text-decoration:none!important;
            font-size:11px;
        }
        .alignleft{
            text-align:left !important;
        }
        .applefix a{
            color:#888888;
            text-decoration:none;
        }
    @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *{
            margin:0;
            padding:0;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        body{
            width:100% !important;
            text-align:center !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        .applelinks a{
            color:#ffffff;
            font-family:Helvetica, Arial, Verdana, sans-serif;
            text-align:left;
            font-size:16px;
            line-height:18px;
            font-weight:300;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].block{
            display:block !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].show{
            display:block !important;
            width:auto !important;
            overflow:visible !important;
            float:none !important;
            max-height:inherit !important;
            line-height:inherit !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].hide{
            display:none !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].center{
            margin:0 auto !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].hauto{
            height:auto !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].valignM{
            vertical-align:middle !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].width100perc{
            width:100% !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].width90perc{
            width:90% !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].width80perc{
            width:80% !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].width60perc{
            width:60% !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].width5perc{
            width:5% !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].pad0{
            padding:0px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].pad20{
            padding:20px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padtb10{
            padding:10px 0px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padlr0{
            padding-left:0px !important;
            padding-right:0px!important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padl10{
            padding-left:10px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padlr20{
            padding-left:20px !important;
            padding-right:20px!important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padlr5perc{
            padding-left:5% !important;
            padding-right:5% !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padb3{
            padding-bottom:3px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padb10{
            padding-bottom:10px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padb20{
            padding-bottom:20px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padt6{
            padding:6px 0px 0px 0px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padt10{
            padding-top:10px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padt20{
            padding-top:20px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padr0{
            padding-right:0px !important;
        }

    @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].pad10{
            padding:10px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padr5{
            padding-right:5px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padr10{
            padding-right:10px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].padl5perc{
            padding-left:5% !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].font25{
            font-size:25px !important;
            line-height:30px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].font18{
            font-size:18px !important;
            line-height:22px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].font12{
            font-size:12px !important;
            line-height:14px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].font8{
            font-size:8px !important;
            line-height:10px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].font6{
            font-size:6px !important;
            line-height:8px !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].aligncenter{
            text-align:center !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].floatnone{
            float:none !important;
            clear:both !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].bgblue{
            background:none;
            background-color:#005edc !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].bgray{
            background:none;
            background-color:#f4f4f4 !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].bggray{
            background:none;
            background-color:#303030 !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].apple_address a{
            font-family:'TitilliumWeb', Helvetica, Arial, sans-serif !important;
            text-decoration:none !important;
            font-size:12px !important;
            line-height:20px !important;
            color:#ffffff !important;
            font-weight:300 !important;
        }

}   @media screen and (max-width: 580px), screen and (max-device-width: 580px){
        *[class].apple_address_orange a{
            font-family:'TitilliumWeb', Helvetica, Arial, sans-serif !important;
            text-decoration:none !important;
            font-size:12px !important;
            line-height:20px !important;
            color:#e37131 !important;
            font-weight:300 !important;
        }

}</style></head>

    <body bgcolor="#ffffff" style="background-color:#ffffff; -webkit-text-size-adjust: none;">
        <center>

  <!-- Insert body here -->
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" class="alignleft width100perc" style="display:block; max-width:600px; background-color:#ffffff;">
            <tr>
                <td valign="top" style="text-align:left;border-top:50px solid #f5f5f5;">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="width100perc">
                        <tr>
                            <td width="50" bgcolor="#f5f5f5" class="width5perc"></td>
                            <!--content-->
                            <td width="500" class="width90perc">

                                <!-- /// HEADER /// -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:500px;">
                                    <tr>
                                        <td style="border-top:6px solid #e37131">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">
                                                <tr>
                                                    <!-- logo -->
                                                    <td align="left" style="padding: 30px;" class="block aligncenter pad10">
                                                        <a target="_blank" href="*|LIST:URL|*"><img src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/9879a43d-5562-4259-a137-de5288164547.jpg" alt="projectline services" style="max-width:500px;"></a>
                                                    </td>
                                                    <td align="right" valign="middle" style="padding: 30px;" class="block aligncenter pad10" ><span style="color:#65676a; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:14px; font-weight:500; line-height:16px; text-align:left !important">{% rich_text "rich_issue" label="Issue", html="&nbsp;Issue 1 | January 2016" %}</span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                                <!-- /// CONTENT /// -->
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
          <td align="center" width="100%">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                <tr>
                    <td align="center" width="100%">
                    {% rich_text "rich_hero" label="Hero Image", html="<img src='https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/5f87f73e-12de-4f98-97c7-00b60029658f.jpg' width='500' height='auto' alt='' style='max-width:500px;display:block' class='width100perc hauto'>" %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="padding:40px;" class="padlr20"><span style="color:#d56131; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:30px; font-weight:300; line-height:36px; text-align:center !important">
                                                    {% rich_text "rich_title" label="Title", html="Projectline Focus" %}</span>
                                                        <div style="text-align: center;">
                                                            <span style="font-family:titilliumweb,helvetica,arial,sans-serif; color:#696969;font-size:14px;font-weight:300; line-height:16px; text-align:center !important">
                                                            {% rich_text "rich_quote" label="Quote", html="&ldquo;The two words &lsquo;information&rsquo; and &lsquo;communication&rsquo; are often used interchangeably, but they signify quite different things. Information is giving out; communication is getting through.&rdquo;&nbsp; &mdash; Sydney J. Harris" %}
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="padding:0px 30px">
                                                        <!-- heading 1 -->
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td align="center" width="100%" style="padding:30px 0px; border-top:2px solid #eee2da; border-bottom:2px solid #eee2da;">
                                                                    <span style="color:#d56131; font-family: TitilliumWeb, Helvetica, Arial, sans-serif; text-align:center !important; font-size: 16px; line-height:20px; font-weight: 300;">{% rich_text "rich_body_title" label="Body Title", html="NEWS &amp; TRENDS" %}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top:30px;" valign="bottom">
                                                                    {% rich_text "rich_second_hero" label="Second Hero Image", html="<img src='https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/bb7c8ca3-dadc-45d3-ab4b-dd61897ad634.jpg?_ga=1.24066034.957241872.1461363981' width='440' height='auto' alt='' style='max-width:440px;display:block' class='width100perc hauto'>" %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="100%" valign="top" align="center" bgcolor="#aa2153" style="padding:30px;" class="padlr20"><span style="background-color:#aa2153; color:#ffffff; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:24px; font-weight:300; line-height:30px; text-align:center !important">{% rich_text "rich_title1" label="Title1", html="The Other Gig Economy" %}</span><br>
<span style="background-color:#aa2153; color:#ffffff; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:14px; font-weight:300; line-height:24px; text-align:center !important">{% rich_text "rich_body1" label="Body1", html="This past November, Harvard Business Review (HBR) published a piece by Steve King Gene Zaino highlighting that the &quot;gig economy&quot; isn&#39;t just about Uber and Handy. They explore the numbers around contingent, independent, and contract work done for large corporations. Their take? &quot;Attracting, retaining, and managing these highly skilled workers will require new ways of thinking about talent management and the role that external talent plays.&quot; We agree." %}</span><br>
<!-- cta 1 -->
<table align="center" cellpadding="0" cellspacing="0">
<tbody>
  <tr>
    <td width="10"><a href="#"><img border="0" height="39" src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/13fb5bf3-8f27-4635-bd1f-751ad4914b48.png" style="display:block;" width="10"></a></td>
    <td align="center" bgcolor="#e37131" height="39" style="text-align:center !important" valign="middle">
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td align="center" bgcolor="#e37131" height="39" style="text-align:center !important">
              <span style="color:#ffffff; font-family:arial,helvetica,sans-serif; font-size:13px; font-weight:300; line-height:34px !important; text-align:center !important; text-decoration:none">
                {% rich_text "rich_cta1" label="CTA1", html="<a href='https://hbr.org/2015/11/your-company-needs-independent-workers' style='font-family:Arial, Helvetica, sans-serif; color:#ffffff; text-align:center !important; text-decoration:none !important; line-height:15px !important; font-size:13px; font-weight:300;' target='_blank'>Read HBR Article</a>" %}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
    <td width="10"><a href="#"><img border="0" height="39" src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/900ca6fa-29ac-4e2a-b7b7-8228bd9a4557.png" style="display:block;" width="10"></a></td>
  </tr>
</tbody>
</table>
</td>
                                                            </tr>

                                                            <!-- content 3 -->
                                                            <tr>
                                                                <td width="100%" valign="top" align="center" style="padding:30px;" class="padlr0">
                                                                <span style="color:#000000; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:24px; font-weight:300; line-height:28px; text-align:center !important">{% rich_text "rich_title2" label="Title2", html="Building a True Internal Community Should be a Priority for Consulting Firms" %}</span><br>
<span style="color:#7b7b7b; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:14px; font-weight:300; line-height:24px; text-align:center !important">{% rich_text "rich_body2" label="Body2", html="People assume that staffing and outsourcing firms don&rsquo;t care about company culture or community, that we are transaction-oriented and focused on the short term. Many of us care deeply about where we work, who we work with, and the richness of our communities&mdash;even if the folks who make up that community change pretty often." %}</span><br>
<!-- cta 2 -->
<table align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td width="10"><a href="#"><img border="0" height="39" src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/13fb5bf3-8f27-4635-bd1f-751ad4914b48.png" style="display:block;" width="10"></a></td>
            <td align="center" bgcolor="#e37131" height="39" style="text-align:center !important" valign="middle">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td align="center"  bgcolor="#e37131" height="39" style="text-align:center !important">
                        <span style="color:#ffffff; font-family:arial,helvetica,sans-serif; font-size:13px; font-weight:300; line-height:34px !important; text-align:center !important; text-decoration:none">
                        {% rich_text "rich_cta2" label="CTA2", html="<a href='#' style='font-family:Arial, Helvetica, sans-serif; color:#ffffff; text-align:center !important; text-decoration:none; line-height:15px !important; font-size:13px; font-weight:300;'>Read Blog by Anika Lehde</a>" %}</span></td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td width="10"><a href="#https://www.linkedin.com/pulse/building-true-internal-community-should-priority-staffing-anika-lehde" target="_blank"><img border="0" height="39" src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/900ca6fa-29ac-4e2a-b7b7-8228bd9a4557.png" style="display:block;" width="10"></a></td>
        </tr>
    </tbody>
</table>
</td>
                                                            </tr>

                                                            <!-- content 4 -->
                                                            <tr>
                                                                <td width="100%" valign="top" align="center" style="padding:30px;" class="padlr0"><span style="color:#000000; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:24px; font-weight:300; line-height:28px; text-align:center !important">{% rich_text "rich_title3" label="Title3", html="Recommended Reading: The Future is Remote" %}</span><br>
<span style="color:#7b7b7b; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:14px; font-weight:300; line-height:24px; text-align:center !important">
{% rich_text "rich_body3" label="Body3", html="Do you still think that the &ldquo;magic&rdquo; only happens when everyone is in the same room? Then pick up a copy of <a href="http://www.amazon.com/Remote-Office-Not-Required/dp/0804137501" target="_blank">&ldquo;Remote: Office Not Required&rdquo; by Jason Fried and David Heinemeier Hansson</a> to learn why remote teams are the future and how you can make the most of this new world. Get your free copy from Projectline by e-mailing your email and shipping address to <a href='mailto:kelseya@projectlineservices.com?subject=Projectline%20Client%20%7C%20Copy%20of%20Remote%20book' target='_blank'>Kelsey Allyn</a> at Projectline." %}</span><br>
<!-- cta 3 -->
<table align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td width="10"><a href="#"><img border="0" height="39" src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/13fb5bf3-8f27-4635-bd1f-751ad4914b48.png" style="display:block;" width="10"></a></td>
            <td align="center" bgcolor="#e37131" height="39" style="text-align:center !important" valign="middle">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td align="center"  bgcolor="#e37131" height="39" style="text-align:center !important">
                        <span style="color:#ffffff; font-family:arial,helvetica,sans-serif; font-size:13px; font-weight:300; line-height:34px !important; text-align:center !important; text-decoration:none !important">

                        {% rich_text "rich_cta3" label="CTA3", html="<a href='mailto:kelseya@projectlineservices.com?subject=Projectline%20Client%20%7C%20Copy%20of%20Remote%20book' style='font-family:Arial, Helvetica, sans-serif; color:#ffffff; text-align:center !important; text-decoration:none !important; line-height:15px !important; font-size:13px; font-weight:300;' target='_blank'>Get a copy of this book</a>" %}</span></td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td width="10"><a href="#"><img border="0" height="39" src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/900ca6fa-29ac-4e2a-b7b7-8228bd9a4557.png" style="display:block;" width="10"></a></td>
        </tr>
    </tbody>
</table>
</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" bgcolor="#87cdc8" align="center">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
                                                            <tr>
                                                                <td width="100%" align="center" bgcolor="#87cdc8" valign="top">
                                                                    {% rich_text "rich_consultant_Image" label="Consultant Image", html="<img src='https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/05aa6b74-5705-40e9-b719-87dc00cff35a.jpg' width='100%' height='auto' alt='' style='width:100%;display:block'>" %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td bgcolor="#87cdc8" width="460" style="padding:20px; text-align:justify !important;" >
                                                                <span style="color:#ffffff; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:22px; font-weight:300; line-height:25px; text-align:left !important">{% rich_text "rich_consultant_title" label="Consultant Title", html="Consultant of the month" %}</span><br>
<span style="color:#ffffff; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:14px; font-weight:300; line-height:20px; text-align:justify !important">{% rich_text "rich_consultant_Body" label="Consultant Body", html="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ante lorem, pellentesque ac arcu vel, ultricies pulvinar nisi. Maecenas at quam lorem." %} </span><br>
<!-- cta 4 -->
<table align="left" cellpadding="0" cellspacing="0" class="padb20">
    <tbody>
        <tr>
            <td width="10"><a href="#"><img border="0" height="39" src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/13fb5bf3-8f27-4635-bd1f-751ad4914b48.png" style="display:block;" width="10"></a></td>
            <td align="center" bgcolor="#e37131" height="39" style="text-align:center !important" valign="middle">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td align="center" bgcolor="#e37131" height="39" style="text-align:center !important"><span style="color:#ffffff; font-family:arial,helvetica,sans-serif; font-size:14px; font-weight:300; line-height:34px !important; text-align:center !important; text-decoration:none">
                            {% rich_text "rich_consultant_CTA" label="Consultant CTA", html="<a href='#' style='font-family:Arial, Helvetica, sans-serif; color:#ffffff; text-align:center !important; text-decoration:none; line-height:15px !important; font-size:14px; font-weight:300;'>ANOTHER INTERESTING CTA</a>" %}</span></td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td width="10"><a href="#"><img border="0" height="39" src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/900ca6fa-29ac-4e2a-b7b7-8228bd9a4557.png" style="display:block;" width="10"></a></td>
        </tr>
    </tbody>
</table>
</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%" bgcolor="#383838" align="center">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
                                                            <tr>
                                                                <td class="block width90perc padlr5perc apple_address" style="padding: 40px;" align="left" width="50%"><span style="color:#ffffff; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:14px; font-weight:300; line-height:20px; text-align:center !important">GET IN TOUCH</span><br>
<br>
<span class="apple_address" style="color:#ffffff; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:12px; font-weight:300; line-height:20px; text-align:center !important">206.382.2025</span><br>
<span class="apple_address_orange" style="color:#e37131; font-family:titilliumweb,helvetica,arial,sans-serif; font-size:12px; font-weight:300; line-height:20px; text-align:center !important"><a href="mailto:info@projectlineservices.com" style="color:#e37131; font-family: TitilliumWeb, Helvetica, Arial, sans-serif; text-align:center !important; font-size: 12px; line-height:20px; font-weight: 300;text-decoration:none">info@projectlineservices.com</a></span><br/>

&nbsp;
<!-- hubsot required -->
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="display:none !important;visibility:hidden;mso-hide:all;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;opacity:0;overflow:hidden;">
                {{ site_settings.company_name }}
                {{ site_settings.company_street_address_1 }}
                {{ site_settings.company_street_address_2 }}
                {{ site_settings.company_city }}
                {{ site_settings.company_state }}
                {{ site_settings.company_zip }}
                {{ site_settings.company_country }}
                <br/>
                You received this email because you are subscribed to {{ subscription_name }} from {{ site_settings.company_name }}.
                <br/>
                Update your <a class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link }}">email preferences</a> to choose the types of emails you receive.
                <br/>
                <a class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link_all }}">Unsubscribe from all future emails</a>
        </td>
    </tr>
</table>

</td>
<td valign="top" class="block width90perc padlr5perc aligncenter padt10" style="padding: 40px;" align="right" width="50%"><table align="center" border="0" cellpadding="0" cellspacing="0" width="145">
    <tbody>
        <tr>
            <td style="padding-right:20px;"><a href="http://www.twitter.com/projectline" target="_blank"><img src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/5dab9b68-b4e8-4be7-9aeb-1e08d2078873.jpg" style="display:block;"></a></td>
            <td style="padding-right:20px;"><a href="https://www.facebook.com/Projectline/" target="_blank"><img src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/62000bdb-11a5-4185-b6dc-e4d1f90cf0f2.jpg" style="display:block;"></a></td>
            <td style="padding-right:20px;"><a href="https://www.linkedin.com/company/77237" target="_blank"><img src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/11957648-3c47-4a17-a09e-6680f6326961.jpg" style="display:block;"></a></td>
            <td><a href="https://www.instagram.com/projectline/" target="_blank"><img src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/973d2b56-2d78-4ad9-8067-947bdd92de02.png" style="display:block;"></a></td>
        </tr>
    </tbody>
</table>
</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <!-- footer logo -->
                                                    <td align="center" style="padding: 10px;" bgcolor="#f5f5f5">
                                                        <a href="*|LIST:URL|*" style="border:none;" target="_blank"><img src="https://gallery.mailchimp.com/e92286f8b4462de07ede08546/images/8c6c696c-f138-4784-a8ac-4526c68f243e.jpg" style="display:block;" border="0" alt="projectline services"></a>
                                                    </td>
                                                </tr>
                                            </table>
          </td>
         </tr>
        </table>

                                <!-- content close -->
                            </td>
                            <!-- right border -->
                            <td width="50" bgcolor="#f5f5f5" class="width5perc"></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        </center>
    </body>
</html>