<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <!-- {% if content.html_title and content.html_title != '' %}
        {{ content.html_title }}
      {% else %}
        {{ content.body.subject }}
      {% endif %} -->
    </title>
    <!-- {% if content.meta_description %}<meta name="description" content="{{ content.meta_description }}"/>{% endif %} -->
    <!--[if gte mso 9]>
      <style type="text/css"></style>
    <![endif]-->
    <style type="text/css">
      /*
      brand-blue : #2e4856;
      page-background : #DCDCDC;
      body-text : #535353;
      */
      * {
          font-family:'Titillium Web', Helvetica, Arial, Verdana, sans-serif;
          font-size:16px;
      }
      a {
        color:#333333;
      }
      body{
        padding:0;
        margin:0;
        font-size:16px;
        font-family:'Open Sans', Helvetica, Arial, Verdana, sans-serif !important;
        -webkit-font-smoothing  : antialiased;
        -moz-osx-font-smoothing : grayscale;
      }
      li, ul {
        padding: 0;
      }
      .ExternalClass * {
        line-height: 100%
      }
      /* Take care of image borders and formatting */
      img {
        max-width: 600px !important;
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
      }
      a img{
        border:none;
        text-decoration:none;
      }
      /* Responsive Styles */
      @media screen and (max-width: 580px),
      screen and (max-device-width: 580px) {
        * {
          margin: 0;
          padding: 0;
        }
        body {
          width: 100% !important;
          text-align: center !important;
        }
        .applelinks a{
          color:#2E4856;
          font-family: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
          font-weight:400;
        }

        *[class].mobileHeader {
          font-size : 24px!important;
          line-height : 32px!important;
        }

        *[class].mobileSubheader {
          font-size : 24px!important;
          line-height : 30px!important;
        }

        *[class].mobileFeaturedMain {
          font-size : 14px!important;
          line-height : 16px!important;
        }

        *[class].mobileFeaturedSub {
          font-size : 10px!important;
          line-height : 15px!important;
        }

        *[class].block {
          display: block !important
        }
        *[class].inline-block {
          display: inline-block !important
        }
        *[class].hide {
          display: none !important
        }
        *[class].center {
          margin: 0 auto !important;
        }
        *[class].hauto {
          height: auto !important;
        }
        *[class].width100perc {
          width: 100% !important;
        }
        *[class].width135 {
          width: 135px !important;
        }
        *[class].width224 {
          width: 224px !important;
        }

        *[class].pad20 {
          padding: 20px !important;
        }
        *[class].pad0 {
          padding: 0px !important;
        }

        *[class].padb5 {
          padding-bottom: 5px !important;
        }
        *[class].padb10 {
          padding-bottom: 10px !important;
        }
        *[class].padb20 {
          padding-bottom: 20px !important;
        }

        *[class].padt20 {
          padding-top: 20px !important;
        }
        *[class].padt10 {
          padding-top: 10px !important;
        }
        *[class].padt5 {
          padding-top: 5px !important;
        }

        *[class].padtb5 {
          padding-top: 5px !important;
          padding-bottom: 5px !important;
        }
        *[class].padtb10 {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
        }
        *[class].padtb20 {
          padding-top: 20px !important;
          padding-bottom: 20px !important;
        }

        *[class].padr0 {
          padding-right: 0px !important;
        }
        *[class].padl5 {
          padding-left: 5px !important;
        }
        *[class].padl10 {
          padding-left: 10px !important;
        }

        *[class].padlr10 {
          padding-left: 10px !important;
          padding-right: 10px!important;
        }
        *[class].padlr15 {
          padding-left: 15px !important;
          padding-right: 15px!important;
        }
        *[class].padlr20 {
          padding-left: 20px !important;
          padding-right: 20px!important;
        }

        *[class].aligncenter {
          text-align: center !important;
        }
        *[class].alignright {
          text-align: right!important;
        }
        *[class].floatnone {
          float: none !important;
          clear: both !important;
        }

        *[class].fontNormal {
          font-weight: normal!important;
        }

        *[class].noBorder {
          border: none !important;
        }

        img {
          max-width : 100%!important;
          height : auto!important;
        }
      }
  </style>
  <!--[if mso]>
      <style type="text/css">
      body, table, th, span, p, a {font-family: Arial, sans-serif !important;}
      </style>
      <![endif]-->
</head>
<body align="center" width="100%" bgcolor="#DCDCDC" style="background-color:#DCDCDC; -webkit-text-size-adjust: none;">
  <center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" class="width100perc" style="display:block; max-width:600px; overflow-x: hidden;" bgcolor="#DCDCDC">
      <tr>
        <!-- /// Container Wrapper /// -->
        <td valign="top" class="">
          <!-- /// HEADER /// -->
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="width100perc" align="center">
            <tr>
              <td bgcolor="#2e4856" width="100%" height="0" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td align="left" width="135" style="padding: 35px 0px 16px 35px" class="width135">
                        <a target="_blank" href="*|LIST:URL|*"><img class="width101" src="https://cdn2.hubspot.net/hubfs/2686735/PLS-Email-Images/logo-projectline-services.png" width="135" alt="PLS Logo"/></a>
                    </td>
                    <td align="right" style="padding:35px 35px 16px 0px; font-size:14px; line-height: 21px; color:#ffffff; font-family:'Titillium Web', Helvetica, Arial, Verdana, sans-serif;" class="alignright">
                      {% text "header_date_field" label="Enter the date here", value="Dec 2017" %}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- /// End Header /// -->

          <!-- /// Start separator /// -->
          <table cellpadding="0" cellspacing="0" border="0" width="100%" class="width100perc">
            <tr class="none">
              <td valign="top" align="center" style="padding:30px 0 0;">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                    <td height="1" bgcolor="#DCDCDC" valign="top" align="center"style="background-color: #DCDCDC; border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-line-height-rule: exactly; line-height: 1px;"><!--[if gte mso 15]>&nbsp;<![endif]--></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- /// End separator /// -->

          <!-- /// Start Main Content Card /// -->
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="width100perc" align="center">
            <tr>
              <td bgcolor="" width="100%" height="0" valign="top" align="center" style="padding: 0px 35px 0px 35px;" class="padlr20">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <!-- start top card corners -->
                  <!--[if mso]>
                  <tr>
                    <td height="20" bgcolor="#DCDCDC" valign="top" align="center" style="padding:0px 0px 0px; background:#DCDCDC;" class="alignright">
                      <div>
                        <v:shape xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" strokecolor="none" strokeweight="1" fillcolor="#2E4856" coordorigin="0 0" coordsize="531 20" style="position:relative;top:0;left:0;width:530px;height:20px;" path="m 0,20 l 0,10 qy 10,0, 522,0 qx 531,10, 531,20 x e"></v:shape>
                      </div>
                    </td>
                  </tr>
                  <![endif]-->
                  <!--[if !mso]> <!-->
                  <tr>
                    <td align="left" bgcolor="#2E4856" style="background:#2E4856; padding:10px 24px 0px 24px; moz-border-radius:10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0;border-collapse:collapse; mso-line-height-rule: exactly; line-height: 0px; font-size:0px; border-bottom: 1px solid #2E4856;"></td>
                  </tr>
                  <!-- <![endif] -->
                  <!-- end top card corners -->
                  <tr>
                    <td bgcolor="#2E4856" align="left" style="background:#2E4856; padding:18px 30px 20px;font-weight:400;color:#ffffff;letter-spacing:0.24px;line-height:21px;font-size:14px; text-transform: uppercase;" class="">
                      {% text "hot_job_topic" label="Hot Job Label", value="Hot Job Alert" %}
                    </td>
                  </tr>
                  <tr>
                    <td bgcolor="#2E4856" align="left" style="background:#2E4856; padding:0px 30px 18px;font-weight:400;color:#f5ad4a;line-height:50px;font-size:48px;" class="">
                      {% text "hot_job_title" label="Hot Job Title", value="Learning Consultant" %}
                    </td>
                  </tr>
                  <tr>
                    <td bgcolor="#ffffff" align="left" style="background:#ffffff; padding:20px 30px 20px;font-weight:400;color:#2e4856;line-height:32px;font-size:24px;" class="mobileHeader">
                      {% textarea "hot_job_headline" label="Hot Job Headline", value="Job Title Headline H3 lorem ipsum dolor sit" %}
                    </td>
                  </tr>
                  <tr>
                    <td bgcolor="#ffffff" align="left" style="padding:0px 30px 25px 30px; font-size:16px; line-height: 28px; color:#535353; font-family:'Open Sans', Helvetica, Arial, Verdana, sans-serif;" class="">
                      {% rich_text "hot_job_description" label="Hot Job Description" html="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique eget est in facilisis. Suspendisse bibendum, nisi sed molestie sodales." %}
                    </td>
                  </tr>
                  <!-- start CTA -->
                  <tr>
                    <td bgcolor="#ffffff" align="left" style="padding:0px 30px 0px 30px;">
                      <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center" bgcolor="#f5ad4a" style="background:#f5ad4a; text-align: center; color:#2E4856; font-weight: bold; text-transform: uppercase;font-size: 18px;line-height: 18px;padding:14px 40px 16px; background-image: linear-gradient(-44deg, #f5ad4a 50%, #F29D46 50%);background-size: 200% 100%;background-repeat: no-repeat;background-position: top right;">
                              {% rich_text "hot_job_button" label="Hot Job Button" html='<a href="#" style="text-decoration:none; color:#2E4856;">Hot Job CTA</a>' %}
                            </td>
                          </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- end CTA -->
                  <!-- start bottom card corners -->
                  <!--[if mso]>
                  <tr>
                    <td height="20" bgcolor="#DCDCDC" valign="top" align="center" style="padding:0px 0px 0px; background:#DCDCDC;" class="alignright">
                      <div>
                        <v:shape xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" strokecolor="none" strokeweight="1" fillcolor="white" coordorigin="0 0" coordsize="531 20" style="position:relative;top:-1px;left:0;width:530px;height:20px;" path="m 0,0 l 531,0, 531,10 qy 522,20, 10,20 qx 0,10 x e"></v:shape>
                      </div>
                    </td>
                  </tr>
                  <![endif]-->
                  <!--[if !mso]> <!-->
                  <tr>
                    <td height="1" bgcolor="#ffffff" align="left" style="padding:19px 24px 0px 24px; background:#ffffff; moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; border-top:1px solid #ffffff;" class="alignright">
                    </td>
                  </tr>
                  <!-- <![endif] -->
                  <!-- end bottom card corners -->
                </table>
              </td>
            </tr>
          </table>
          <!-- /// End Main Content Card /// -->

          <!-- /// Start separator /// -->
          <table cellpadding="0" cellspacing="0" border="0" width="100%" class="width100perc">
            <tr class="none">
              <td valign="top" align="center" style="padding:30px 0 0;">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                    <td height="1" bgcolor="#DCDCDC" valign="top" align="center"style="background-color: #DCDCDC; border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-line-height-rule: exactly; line-height: 1px;"><!--[if gte mso 15]>&nbsp;<![endif]--></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- /// End separator /// -->

          <!-- /// FOOTER /// -->
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="width100perc" align="center">
            <tr>
              <td bgcolor="#2e4856" width="100%" height="0" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="width100perc">
                  <tr>
                    <td align="center" width="" style="padding: 27px 0px 29px" class="width100perc">
                        <img class="width135" src="https://cdn2.hubspot.net/hubfs/2686735/PLS-Email-Images/logo-projectline-services.png" width="135"  alt="PLS Logo"/>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" width="" style="padding: 0px 0px 19px;" class="">
                      <table border="0" cellpadding="0" cellspacing="0" width="224" class="width224">
                        <tr>
                          <td align="center" width="40" style="padding: 0px 0px" class="">
                            <a href="https://www.linkedin.com/company/77237/" title="LinkedIn profile">
                              <img src="https://cdn2.hubspot.net/hubfs/2686735/PLS-Email-Images/social-linkedin-email.png" alt="LinkedIn Icon">
                            </a>
                          </td>
                          <td align="center" width="40" style="padding: 0px 0px" class="">
                            <a href="https://www.facebook.com/Projectline/" title="Facebook profile">
                              <img src="https://cdn2.hubspot.net/hubfs/2686735/PLS-Email-Images/social-facebook-email.png" alt="Facebook Icon">
                            </a>
                          </td>
                          <td align="center" width="40" style="padding: 0px 0px" class="">
                            <a href="https://twitter.com/projectline" title="Twitter profile">
                              <img src="https://cdn2.hubspot.net/hubfs/2686735/PLS-Email-Images/social-twitter-email.png" alt="Twitter Icon">
                            </a>
                          </td>
                          <td align="center" width="40" style="padding: 0px 0px" class="">
                            <a href="https://www.instagram.com/projectline/" title="Instagram profile">
                              <img src="https://cdn2.hubspot.net/hubfs/2686735/PLS-Email-Images/social-instagram-email.png" alt="Instagram Icon">
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding: 0px 0px 34px; font-size:14px; line-height: 19px; color:#ffffff; font-family:'Open Sans', Helvetica, Arial, Verdana, sans-serif;" class="">
                      <a href="{{ unsubscribe_link }}" title="unsubscribe link" style="font-size:14px; line-height: 19px; color:#ffffff;font-family:'Open Sans', Helvetica, Arial, Verdana, sans-serif;">Unsubscribe</a>
                    </td>
                  </tr>
                  <tr>
                    <td bgcolor="#243945" align="center" width="" style="background:#243945; padding: 17px 0px 25px;" class="">
                      <table border="0" cellpadding="0" cellspacing="0" width="320" class="width320">
                        <tr>
                          <td>
                            <a href="" title="" style="font-size:12px; line-height: 18px; color:#ffffff;font-family:'Open Sans', Helvetica, Arial, Verdana, sans-serif;text-decoration:none;">&copy; 2017 Projectline</a>
                          </td>
                          <td>
                            <a href="" title="" style="font-size:12px; line-height: 18px; color:#ffffff;font-family:'Open Sans', Helvetica, Arial, Verdana, sans-serif;text-decoration:none;">Terms of use</a>
                          </td>
                          <td>
                            <a href="" title="" style="font-size:12px; line-height: 18px; color:#ffffff;font-family:'Open Sans', Helvetica, Arial, Verdana, sans-serif;text-decoration:none;">Privacy policy</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- /// End FOOTER /// -->
          <!-- hubsot required -->
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="display:none !important;visibility:hidden;mso-hide:all;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;opacity:0;overflow:hidden;">
                {{ site_settings.company_name }}
                {{ site_settings.company_street_address_1 }}
                {{ site_settings.company_street_address_2 }}
                {{ site_settings.company_city }}
                {{ site_settings.company_state }}
                {{ site_settings.company_zip }}
                {{ site_settings.company_country }}
              </td>
            </tr>
          </table>
        </td>
        <!-- /// End Container Wrapper /// -->
      </tr>
    </table>
  </center>
</body>

