<div>
<v:shape xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" strokecolor="blue" strokeweight="3" coordorigin="0 0" coordsize="530 10" style="width:530px;height:10px;position:relative;left:35px;"
path="m 0,0 l 530,0, 530,10 qy 520,20, 10,20 qx 0,10 x e"></v:shape>
</div>

<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td height="15">
        <div style="height:15px;">
          <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="width:100;height:100;" fillcolor="blue" strokecolor="red"></v:rect>
<!-- <v:shape strokecolor="blue" strokeweight="3" coordorigin="0 0" coordsize="530 10" style="width:530px;height:10px;position:relative;left:35px;"
path="m 0,0 l 530,0, 530,10 qy 520,20, 10,20 qx 0,10 x e"></v:shape> -->
</div>
      </td>
    </tr>
</table>